body{
    color: rgb(21, 15, 15);
    background:rgb(238, 227, 227);
    margin: 0px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px #ecbe15;
    padding-top:50px;
    text-align: center;
    /* Adiciona um fundo de degradê no texto */
    font-size: 60px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold; /* Torna a fonte mais espessa para melhor efeito */
    background: -webkit-linear-gradient(#390e0500, #e3d213); /* Degradê linear para navegadores WebKit */
    background-clip: text;
    -webkit-background-clip: text; /* Aplica o fundo de degradê ao texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o degradê */
}

.beginning{
    background: rgb(237, 231, 231);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.texto{
    margin-right: 5%;
}

.texto h1{
    font-size: 40px;
}

.texto p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria1-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria1{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria1-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria1-videos img:hover{
    opacity: 1.0;
    border:2px solid green;
    transform: scale(1.2);
}